<!DOCTYPE html>
<html>

  <body>
  	<h2> AWS</h2> 
	
	<hr>
  	<b>Uploading File : </b>
  	<form action="http://localhost:5000/upload" method=post enctype=multipart/form-data>
      <p><input type=file name="in_upd_file">
	  <p><input type=submit value=Upload>
    </form>


	<hr>
  	<form action="http://localhost:5000/download" method=post >
	  <p><input type=text name="in_dwn_file">
	  <p><input type=submit value="Download">
    </form>		

	<hr>
  	<form action="http://localhost:5000/delete" method=post >
	  <p><input type=text name="in_del_file">
	  <p><input type=submit value="Delete">
    </form>			
	
	<hr>
  	<form action="http://localhost:5000/list" method=post >
	  <p><input type=submit value="List files">
    </form>	
	
	<hr>	
	{{ input_text }}
	
	
  </body>
  
</html>


